.customCursor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}

@media only screen and (max-width: 1200px) {
  .customCursor {
    display: none;
  }
}
