@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Extended";
  src: url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot");
  src: url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.svg#Monument Extended")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap");

html {
  scroll-behavior: smooth;
  cursor: none;
}

body p {
  font-family: "Poppins", sans-serif;
}

body h2 {
  font-family: "Poppins", sans-serif;
}

body h3 {
  font-family: "Poppins", sans-serif;
}

/* span {
  font-family: "Monument Extended";
} */

a {
  cursor: none;
}

button {
  cursor: none;
}

img {
  cursor: none;
}

/* Navbar */

/* header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 2rem 5rem 2rem 5rem;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
  border-bottom: 1px solid #9e9e9e;
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: none;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
    background-color: #fff;
    color: #000;
    padding: 7rem 0 3rem 0;
    z-index: 99;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

.nav-logo {
  width: 100px;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: 0.5s ease-in-out;
} */

/* navbar fix bottom */

.floating-nav {
  z-index: 100;
  width: 100%;
  margin-bottom: 0;
  padding: 29px;
  display: inline-block;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.floating-nav a {
  font-size: 17px;
}

.div-block-17 {
  justify-content: center;
  display: flex;
}
.navbar-2 {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #000;
  border-radius: 100px;
}
.floating-nav__link {
  color: #fff;
  cursor: none;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s;
}
.floating-nav__link:hover {
  color: #000;
  background-color: #fff;
  border-radius: 50px;
}
.floating-nav__link.w--current {
  color: #000;
  background-color: #fff;
  border-radius: 60px;
}
.floating-nav__link.arrow {
  background-color: #2c2c2c;
  background-image: url(https://assets.website-files.com/5837424ae11409586f837994/624322b0c806026f5689d841_Group%2012569.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 22px;
  border-radius: 90px;
  padding: 0 38px 0 38px;
}
.floating-nav__link.arrow:hover {
  background-color: #424242;
  background-image: url(https://assets.website-files.com/5837424ae11409586f837994/624322b0c806026f5689d841_Group%2012569.svg);
  background-repeat: no-repeat;
  background-size: auto 22px;
}
.floating-nav__link.login {
  background-color: #2c2c2c;
  border-radius: 70px;
}
.floating-nav__link.login:hover {
  color: #fff;
  background-color: #424242;
}

.nav-menu-2 {
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 100vw;
  align-items: stretch;
  padding: 6px;
  display: flex;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 5rem 5rem 5rem;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pena-logo {
  width: 100px;
  margin-bottom: 5rem;
}

.hero-shape-left {
  z-index: -1;
  width: 200px;
  position: absolute;
  left: 0;
  top: 50%;
}

.hero-shape-right {
  z-index: -1;
  width: 200px;
  position: absolute;
  right: 0;
  top: 20%;
}

.arrow-button {
  position: absolute;
  left: 58%;
  width: 75px;
  margin-left: 2rem;
  margin-top: -2rem;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.home-title {
  /* font-family: "Monument Extended", sans-serif; */
  font-size: 4rem;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 2rem;
}

.heroimg-mobile {
  display: none;
}

.hero-img {
  display: block;
}

.hero-spin-img {
  position: absolute;
  z-index: -1;
  left: -15rem;
  margin-top: 5rem;
  width: 500px;
  opacity: 0.1;
  animation-name: hero-spin-img;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hero-spin-img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.brand-spin-img {
  position: absolute;
  z-index: -1;
  width: 200px;
  margin-top: 5rem;
  left: -5rem;
  animation-name: brand-spin-img;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes brand-spin-img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.work-spin-img-1 {
  position: absolute;
  width: 300px;
  margin-top: 5rem;
  left: -6rem;
  animation-name: work-spin-img-1;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes work-spin-img-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.work-spin-img-2 {
  position: absolute;
  margin-top: 50rem;
  width: 200px; /* Adjust the width as per your requirement */
  right: 10%; /* Position it 5% from the right edge of the screen */
  transform: translateY(-50%); /* Center it vertically */
  animation-name: work-spin-img-2;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes work-spin-img-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.work-spin-img-3 {
  position: absolute;
  width: 300px;
  margin-top: 80rem;
  left: 5%;
  animation-name: work-spin-img-3;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes work-spin-img-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rounded-text {
  width: 25.625rem;
  height: 25.625rem;
  text-transform: uppercase;
  transform: rotate(-103deg);
  color: #fff;
  font-weight: bold;
  z-index: -1;
  font-family: Raleway;
}
.white {
  fill: #fff;
}
.yellow {
  fill: #ffda2a;
}
.green {
  fill: #00d3b9;
}
@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotating {
  animation: rotating 12s linear infinite;
}
@keyframes coloring {
  0% {
    fill: #fff;
  }
  35% {
    fill: #ffda2a;
  }
  75% {
    fill: #00d3b9;
  }
  100% {
    fill: #fff;
  }
}
.coloring {
  animation: coloring 12s linear infinite;
}

.yourgoto {
  display: flex;
  align-items: center;
}

.partner {
  display: flex;
  align-items: center;
}

.arrowhero {
  margin-left: 1rem;
  width: 50px;
}

.footer-arrowhero {
  margin-left: 1rem;
}

.yellowstar {
  width: 50px;
  margin-right: 1rem;
}

.footer-yellowstar {
  margin-right: 1rem;
}

.collaborate {
  font-family: "Monument Extended", sans-serif;
  display: flex;
  align-items: center;
}

.footer-scribble {
  position: absolute;
  margin-top: 6rem;
  margin-left: 5rem;
}

.footer-yellowstar2 {
  position: absolute;
  margin-left: 25rem;
  margin-top: 7rem;
}

.scribble {
  width: 100px;
  position: absolute;
  margin-top: 6rem;
  margin-left: 12rem;
}

.lets {
  font-family: "Monument Extended", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-span {
  background: linear-gradient(to right, #fa7d47, #faa938);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech-write {
  cursor: none;
  width: 300px;
  font-size: 15px;
  background: linear-gradient(to right, #fabea0, #fade94);
  border-radius: 25px;
  padding: 10px;
  color: #000;
  margin: 3rem 0 3rem 0;
}

.hero-typography {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-typography p {
  font-size: 25px;
  margin-top: 1rem;
  width: 70%;
}

.hero-button {
  cursor: none;
  width: 200px;
  background-color: #f39f21;
  border-radius: 25px;
  padding: 10px;
  color: #fff;
  margin: 3rem 0 3rem 0;
  text-transform: uppercase;
}

.hero-image {
  display: flex;
  align-items: center;
}

.hero1 {
  width: 30vh;
  margin-left: -5vw;
  position: absolute;
  z-index: 2;
}
.hero2 {
  width: 25vh;
  margin-left: 3vw;
  position: absolute;
  z-index: 1;
}

.hero-shape {
  width: 30vw;
  height: 600px;
  background-color: #f39f21;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marquee-containers {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.black-bg {
  background-color: #212121;
  display: flex;
}

.trusted {
  background-color: #212121;
  color: #fff;
  text-align: center;
  width: 500px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* slider */

.slider {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider::before,
.slider::after {
  position: absolute;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  width: 25%;
  z-index: 2;
  pointer-events: none;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
  background-color: #212121;
  width: calc(150px * 20);
  display: flex;
  animation: scroll 40s linear infinite;
  justify-content: space-between;
}

.slide-track2 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 100px;
  margin: 1rem;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: none;
}
.slide:hover {
  transform: scale(0.8);
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 20);
  }

  .slide-track2 {
    width: calc(80px * 15);
  }

  .slide {
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

/* slider mobile 1 */

.slider-mobile-1 {
  position: relative;
  width: 100%;
  display: none;
  place-items: center;
  overflow: hidden;
}
.slider-mobile-1::before,
.slider-mobile-1::after {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 25%;
  z-index: 2;
  pointer-events: none;
}
.slider-mobile-1::before {
  left: 0;
  top: 0;
}
.slider-mobile-1::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/* IMPORTANT CODE BELOW */

.slide-track-mobile-1 {
  background-color: #000;
  width: calc(150px * 20);
  display: flex;
  animation: scroll-track-mobile-1 40s linear infinite;
  justify-content: space-between;
}

.slide-track2-mobile-1 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2-track-mobile-1 15s linear infinite;
  justify-content: space-between;
}

.slide-mobile-1 {
  width: 100px;
  margin: 1rem;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: none;
}
.slide-mobile-1:hover {
  transform: scale(0.8);
}

@keyframes scroll-track-mobile-1 {
  0% {
    transform: translateX(calc(-150px * 10));
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes scroll2-track-mobile-1 {
  0% {
    transform: translateX(calc(-150px * 5));
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) {
  .slide-track-mobile-1 {
    width: calc(80px * 20);
  }

  .slide-track2-mobile-1 {
    width: calc(80px * 15);
  }

  .slide-mobile-1 {
    width: 80px;
  }

  @keyframes scroll-track-mobile-1 {
    0% {
      transform: translateX(calc(-80px * 10));
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes scroll2-track-mobile-1 {
    0% {
      transform: translateX(calc(-80px * 5));
    }
    100% {
      transform: translateX(0px);
    }
  }
}

/* slider mobile 2 */

.slider-mobile-2 {
  position: relative;
  width: 100%;
  display: none;
  place-items: center;
  overflow: hidden;
}
.slider-mobile-2::before,
.slider-mobile-2::after {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 25%;
  z-index: 2;
  pointer-events: none;
}
.slider-mobile-2::before {
  left: 0;
  top: 0;
}
.slider-mobile-2::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track-mobile-2 {
  background-color: #000;
  width: calc(150px * 20);
  display: flex;
  animation: scroll 40s linear infinite;
  justify-content: space-between;
}

.slide-track2-mobile-2 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide-mobile-2 {
  width: 100px;
  margin: 1rem;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: none;
}
.slide-mobile-2:hover {
  transform: scale(0.8);
}

@keyframes scroll-mobile-2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

@keyframes scroll2-mobile-2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track-mobile-2 {
    width: calc(80px * 20);
  }

  .slide-track2-mobile-2 {
    width: calc(80px * 15);
  }

  .slide-mobile-2 {
    width: 80px;
  }

  @keyframes scroll-mobile-2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2-mobile-2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

.about-title {
  font-family: "Monument Extended", sans-serif;
  position: absolute;
  transform: rotate(90deg);
  left: -7rem;
  font-size: 5rem;
  text-transform: uppercase;
  color: #f3f5f9;
}

.about-container {
  display: flex;
  align-items: center;
  padding: 10rem;
}

.about-container p {
  text-align: justify;
}

.about-container h3 {
  font-size: 3rem;
  font-weight: 700;
}

.about-container h4 {
  color: #f39f21;
  font-weight: 700;
}

.about-container p {
  padding-top: 4rem;
}

.shape {
  border-radius: 20px;
  width: 500px;
  margin-right: 5rem;
}

.divider-container {
  display: flex;
  justify-content: center;
}

.divider {
  width: 80%;
  height: 2px;
  background-color: #d2d2d2;
  border-radius: 2px;
}

.developing-top {
  width: 50px;
  margin-bottom: 4rem;
}

.developing-hassle {
  position: absolute;
  top: 20%;
  right: 22%;
  width: 50px;
}

.developing-right-shape {
  position: absolute;
  right: 0;
  width: 200px;
}

.developing-left-bottom {
  position: absolute;
  left: 0;
  bottom: -80rem;
  width: 200px;
}

.developing-bottom {
  position: absolute;
  left: 50%;
  bottom: -80rem;
  width: 50px;
}

.developing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developing-container {
  background-color: #fdf7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5rem 10rem 5rem;
}

.developing-container h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5rem;
}

.developing-desc {
  text-align: left;
  font-size: 20px;
}

.developing-typography {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 80%;
  padding: 0 0 5rem 0;
}

.developing-card-typography {
  display: flex;
  flex-direction: column;
}

.developing-card-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.developing-card-container {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
  justify-content: center;
}

.developing-card {
  display: flex;
  align-items: flex-start;
  width: 400px;
  height: 200px;
  background-color: #fffcf6;
  padding: 25px;
  margin: 1rem;
}

.developing-gif {
  margin-right: 2rem;
  padding: 10px;
  width: 60px;
}

.developing-image-bg {
  position: absolute;
  z-index: 0;
}

.developing-divider {
  margin-top: 10rem;
  width: 80%;
  height: 2px;
  background-color: #d2d2d2;
  border-radius: 2px;
}

.brand-container {
  background-color: #e5f2fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}

.brand-container h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5rem;
}

.brand-right {
  position: absolute;
  right: 0;

  width: 150px;
}

.brand-typography {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 80%;
  padding: 0 0 5rem 0;
}

.brand-desc {
  font-size: 20px;
}

.brand-card-container {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
}

.card {
  width: 350px;
  background-color: #f4f9fd;
  padding: 25px;
}

.brand-tech-write {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
  width: 300px;
  font-size: 15px;
  background: linear-gradient(to right, #fabea0, #fade94);
  border-radius: 25px;
  padding: 10px;
  color: #000;
}

.brand-card-container h5 {
  font-size: 15px;
  font-weight: 600;
}

.brand-image-title {
  display: flex;
}

.brand-title-desc {
  display: flex;
  flex-direction: column;
}

.brand-card-list {
  display: flex;
  align-items: flex-start;
  grid-gap: 10px;
  padding: 15px 0 0 0;
}

.brand-card-list img {
  height: 23px;
  width: 23px;
}

.check-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0);
}

.brand-content {
  height: 300px;
}

.brand-button {
  background-color: #f39f21;
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  color: #fff;
  margin-top: 2rem;
  text-transform: uppercase;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.brand-image {
  display: flex;
  align-items: flex-start;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.brand-image-img {
  margin-right: 1rem;
}

.brand-image-bg {
  position: absolute;
  z-index: 0;
}

.certification-right {
  width: 50px;
  height: 50px;
  margin-left: 2rem;
}

.certification-left {
  width: 50px;
  height: 50px;
  margin-right: 2rem;
}

.certification-wrapper {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.certification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.certification-container h3 {
  font-size: 40px;
  font-weight: 600;
}

.certification-logo-container {
  align-items: center;
  display: flex;
  grid-gap: 100px;
}

.certification-logo-cism {
  width: 100px;
}

.certification-logo-itil {
  width: 160px;
}

.certification-logo-pmp {
  width: 100px;
}

.certification-logo-webflow {
  width: 200px;
}

.certification-logo-gseasondocs {
  width: 200px;
}

.webflow-quote {
  position: absolute;
  z-index: -1;
  left: 1rem;
  top: -1rem;
  width: 50px;
}

.webflow-left {
  position: absolute;
  left: 0;
  width: 200px;
}

.webflow-right {
  position: absolute;
  top: 70%;
  right: 0;
  width: 200px;
}

.webflow-container {
  background-color: #fdfdfd;
  color: #272626;
  padding: 10rem;
  height: 600px;
  display: flex;
}

.webflow-container h3 {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
  z-index: 1;
  position: relative;
}

.webflow-bg {
  /* background-image: url("../public/assets/images/icons/webflowbg.png"); */
  background-color: #fee8e8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0 10rem 0;
}

.webflow-dots {
  position: absolute;
}

.webflow-dots-mobile {
  position: absolute;
  display: none;
}

.benefit-top {
  position: absolute;
  right: 43%;
  margin-top: -3rem;
  width: 200px;
}

.benefit-card-wrapper {
  display: flex;
}

.benefit-container {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0 5rem 0;
}

.benefit-typography {
  text-align: center;
  margin-bottom: 4rem;
}

.benefit-typography h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.benefit-typography p {
  font-size: 20px;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
}

.benefit-shape {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: -10rem;
  z-index: 0;
}

.benefit-button {
  background-color: #f39f21;
  border-radius: 25px;
  width: 125px;
  padding: 10px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.benefit-card-container {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin: 0 5rem 0 5rem;
}

.benefit-card {
  display: flex;
  font-weight: 700;
}

.benefit-card h4 {
  font-size: 1.2rem;
}

.benefit-img {
  margin-right: 1rem;
}

.benefit-white-shape {
  width: 75px;
  height: 75px;
}

.benefit-image {
  width: 50px;
}

.service-text {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 10rem;
  text-align: center;
}

.service-title {
  font-family: "Monument Extended", sans-serif;
  position: absolute;
  transform: rotate(-90deg);
  right: -7rem;
  font-size: 5rem;
  text-transform: uppercase;
  color: #f3f5f9;
}

.service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.service-container h3 {
  font-size: 3rem;
  font-weight: 700;
}

.service-card-container {
  display: flex;
  grid-gap: 5rem;
}

.service-card {
  border-radius: 20px;
  padding: 2rem;
  width: 300px;
  height: 500px;
  cursor: none;
  transition: 0.3s ease-in-out;
}

.service-card:hover {
  background-color: #f3f5f9;
  box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.14);
}

.service-card h3 {
  padding: 2rem 0 1rem 0;
  font-size: 2rem;
}

.card-image-technical {
  padding: 1rem;
  background-color: #f39f21;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.card-image-webdev {
  padding: 1rem;
  background-color: #3e69ea;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.card-image-graphic {
  padding: 1rem;
  background-color: #b82a2e;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.passion-container {
  padding: 5rem 0 5rem 0;
  background-color: #f3f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passion-container h3 {
  font-size: 3rem;
  font-weight: 700;
}

.passion-wrapper {
  padding: 0 5rem 0 5rem;
  grid-gap: 20px;
  display: flex;
  padding-top: 5rem;
}

.passion-card {
  padding: 1rem;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.passion-card p {
  padding-top: 2rem;
}

.passion-image-medal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f39f21;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.passion-image-write {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #b82a2e;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.passion-image-target {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #3e69ea;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.passion-image-trusted {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #b82a2e;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.testimonials-container {
  padding: 10rem 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials-quote img {
  max-width: 300px;
}

.testimonials-text-container {
  display: flex;
  flex-direction: column;
}

.testimonials-text-container h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 2rem 0;
}

.testimonials-slider {
  padding: 5rem 0 5rem 0;
}

.card-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #f3f5f9;
  padding: 3rem;
}

.card-slider img {
  width: 75px;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  padding: 2rem 0 0 0;
}

.profile-text {
  padding: 0 0 0 2rem;
}

.work-top {
  width: 100px;
  position: absolute;
  left: 46%;
  margin-top: -2rem;
}

.work-left {
  width: 150px;
  position: absolute;
  left: 0;
  margin-top: 5rem;
}

.work-right {
  width: 150px;
  position: absolute;
  right: 0;
  margin-top: 25rem;
}

.work-container {
  background-color: #fdf7e7;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-container h3 {
  font-size: 40px;
  font-weight: 600;
  z-index: 1;
}

.work-container p {
  z-index: 1;
}

.work-image-bg {
  position: absolute;
  z-index: 0;
}

.work-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10rem;
}

.work-text h3 {
  font-size: 40px;
}

.work-card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-bottom: 5rem;
}

.work-card-container img {
  width: 500px;
}

.work-button {
  background-color: #f39f21;
  border-radius: 25px;
  width: 125px;
  padding: 10px;
  color: #fff;
}

.collab-container {
  padding: 0 5rem 0 5rem;
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 0;
}

.collab-text {
  position: relative;
  z-index: 9999;
}

.collab-container h3 {
  font-size: 2rem;
  font-weight: 700;
}

.collab-container p {
  position: relative;
  font-size: 20px;
  padding-top: 2rem;
}

.collab-container span {
  color: #f39f21;
}

.collab-image {
  position: absolute;
  width: 200px;
  margin-right: 15rem;
  z-index: -1;
}

.collab-image-mobile {
  position: absolute;
  display: none;
  width: 100%;
}

.logos {
  width: 700px;
  margin-left: 10rem;
  z-index: 0;
}

.logos-mobile {
  display: none;
  position: relative;
  z-index: 5;
}

.pricing-section-divider {
  margin: 2rem 0 2rem 0;
  width: 80%;
  height: 2px;
  background-color: #d2d2d2;
  border-radius: 2px;
}

.pricing-container {
  background-color: #f6f6f6;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-text {
  text-align: center;
  padding-bottom: 10rem;
}

.pricing-text h3 {
  font-size: 40px;
  font-weight: 600;
}

.pricing-text p {
  font-size: 20px;
}

.pricing-card-container {
  display: flex;
  grid-gap: 2rem;
}

.pricing-card {
  cursor: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.feature-check {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.feature-check p {
  margin-left: 1rem;
}

.card-bg {
  background-color: #d2d2d2;
}

.monthly {
  color: #000;
  background-color: #f9f9f9;
}

.quarterly {
  color: #000;
  background-color: #fcf6e6;
}

.yearly {
  color: #000;
  background-color: #fbe5e5;
}

.pricing-title-monthly {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #f9f9f9;
  padding: 2rem;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.pricing-title-monthly p {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 500;
}

.pricing-title-quarterly {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #fcf6e6;
  padding: 2rem;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.pricing-title-quarterly p {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 500;
}

.pricing-title-yearly {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #fbe5e5;
  padding: 2rem;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.pricing-title-yearly p {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 500;
}

.price-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-wrap h5 {
  text-decoration: underline;
  font-weight: 600;
}

.price-wrap h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.pricing-shape-monthly {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  background-color: #adadad;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.pricing-shape-quarterly {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  opacity: 0.5;
  background-color: #e8edf5;
  margin-bottom: 2rem;
}

.pricing-shape-yearly {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  opacity: 0.5;
  background-color: #e8edf5;
  margin-bottom: 2rem;
}

.pricing-price-permonth {
  font-size: 30px;
  font-weight: 700;
}

.pricing-price {
  margin: 2rem;
}

.pricing-price h3 {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.pricing-price p {
  color: #878787;
}

.meeting {
  margin-top: 2rem;
}

.pricing-button-monthly {
  background-color: #f39f21;
  border-radius: 25px;
  width: 80%;
  padding: 10px;
  color: #fff;
}

.pricing-button-quarterly {
  background-color: #f39f21;
  border-radius: 25px;
  width: 80%;
  padding: 10px;
  color: #fff;
}

.pricing-button-yearly {
  background-color: #f39f21;
  border-radius: 25px;
  width: 80%;
  padding: 10px;
  color: #fff;
}

.pricing-divider {
  width: 90%;
  height: 2px;
  border-radius: 10px;
  background-color: #d2d2d2;
  margin: 2rem;
}

.pricing-feature {
  text-align: left;
  padding: 2rem;
}

/* ul {
  list-style-type: circle;
} */

.most-popular {
  position: absolute;
  left: 26%;
  margin-top: 28rem;
  transform: rotate(15deg);
  width: 125px;
}

.referral-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem 2rem 5rem;
  background-color: #f39f21;
  grid-gap: 2rem;
}

.referral-container img {
  width: 150px;
}

.referral-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 2rem 25rem 2rem 2rem;
}

.referral-text p {
  font-size: 20px;
}

.referral-text h4 {
  font-family: "Monument Extended", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.referral-button {
  background-color: #fff;
  border-radius: 25px;
  width: 125px;
  padding: 10px;
  color: #000000;
}

.faq-left {
  position: absolute;
  left: 0;
  margin-top: 15rem;
  width: 150px;
}

.faq-right {
  position: absolute;
  right: 0;
  margin-right: 5rem;
  margin-top: 3rem;
  width: 75px;
}

.faq-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: left;
}

.faq-title-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 5rem;
}

.faq-title-container h3 {
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
}

.faq-font {
  font-size: 40px;
  font-weight: 600;
  z-index: 1;
}

.faq-title-container p {
  margin-left: 15rem;
}

.faq-title-container img {
  width: 200px;
  left: 33%;
  margin-top: 6rem;
  position: absolute;
  z-index: 0;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  background-color: #f3f5f9;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: none;
}

.workhero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}

.workhero-typography h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 70px;
  width: 70%;
  margin-bottom: 2rem;
}

.workhero-typography p {
  font-size: 20px;
  margin-top: 1rem;
  width: 70%;
  margin-bottom: 2rem;
}

.workcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5f9;
  padding: 5rem;
}

.workcase-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.workcase-card {
  width: 350px;
  height: 450px;
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 2rem;
}

.pagination {
  display: flex;
  margin-top: 5rem;
  grid-gap: 50px;
}

.text-arrow {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-top {
  position: absolute;
  margin-top: -2rem;
  left: 65%;
  width: 100px;
}

.footer-lets {
  position: absolute;
  margin-top: -2rem;
  margin-left: -2rem;
  width: 40px;
  transform: rotate(120deg);
}

.footer-container {
  background-color: #212121;
  color: #fff;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-shape {
  margin-top: 10rem;
  margin-bottom: -19rem;
  position: relative;
  width: 800px;
  z-index: 0;
}

.footer-text {
  padding: 2rem;
  z-index: 1;
}

.footer-text h3 {
  margin: 5rem 0 0 0;
  font-size: 4rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.footer-text p {
  margin: 2rem 0 4rem 0;
}

.footer-button {
  background-color: #f39f21;
  border-radius: 25px;
  width: 150px;
  padding: 10px;
  color: #fff;
}

.footer-divider {
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: #272727;
  margin: 3rem 0 3rem 0;
}

.footer-info-container {
  display: flex;
  grid-gap: 50px;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.footer-info {
  text-align: left;
}

.footer-flag {
  margin-bottom: 1rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 20px;
}

.footer-divider-vertical {
  background-color: #fff;
  width: 2px;
  border-radius: 2px;
  height: 75px;
}

.state {
  display: flex;
}

.state p {
  margin-left: 1rem;
}

.state img {
  width: 30px;
}

.footer-info h4 {
  font-weight: 700;
}

.footer-copyright {
  display: flex;
  background-color: #f39f21;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

.footer-logo {
  width: 75px;
  height: 40px;
}

.footer-logo-top {
  display: none;
  width: 75px;
  height: 40px;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  opacity: 0;
}

.limited-spot {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

.ltd-monthly {
  background-color: #cbd4e2;
}

.ltd-quarterly {
  background-color: #fac069;
}

.ltd-yearly {
  background-color: #595959;
}

.fade-up-class {
  display: flex;
  justify-content: center;
}

.faq-question-wrap {
  margin-bottom: 10px;
}

.faq__list-wrapper {
  max-width: 800px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.faq__row {
  text-align: left;
  cursor: none;
  border-bottom: 1px solid #000;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  padding-bottom: 20px;
  display: flex;
}
.faq__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.faq__answer {
  font-size: 17px;
  line-height: 26px;
}
.faq__arrow {
  width: 16px;
  margin-left: 60px;
  transition: transform 0.3s ease;
}

.faq__arrow.rotated {
  transform: rotate(180deg);
}

.container {
  z-index: 2;
  max-width: 1240px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .brand-title-desc {
    margin-bottom: 2rem;
  }
  .brand-image-title {
    flex-direction: column;
  }

  .brand-image {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 75px;
    height: 75px;
  }

  .benefit-top {
    width: 125px;
    right: 35%;
  }

  .webflow-container {
    margin-bottom: 5rem;
  }

  .webflow-left {
    margin-top: -40rem;
    width: 150px;
  }

  .webflow-right {
    top: 70%;
    width: 150px;
  }

  .certification-wrapper {
    align-items: normal;
  }

  .certification-left,
  .certification-right {
    width: 30px;
    height: 30px;
  }

  .brand-right {
    margin-top: 5rem;
  }

  .developing-top {
    display: none;
  }

  .developing-bottom {
    /* bottom: -142rem;
    left: 40%; */
    display: none;
  }

  .developing-left-bottom {
    bottom: -100rem;
  }

  .developing-right-shape {
    width: 150px;
    margin-top: 3rem;
  }

  .developing-hassle {
    left: 30%;
    margin-top: 2rem;
  }

  .hero-shape-left {
    width: 100px;
    top: 35%;
  }

  .hero-shape-right {
    width: 100px;
    top: 65%;
  }

  .hero-buttons {
    margin: 4rem 0 0 0;
  }

  .tech-write {
    margin: 0 0 3rem 0;
  }

  header {
    padding: 2rem;
  }

  .nav-logo {
    width: 75px;
  }

  .nav {
    padding: 1rem 2rem 1rem 2rem;
  }

  .nav-menu:hover {
    background-color: #f39f21;
  }

  .home-container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .hero-typography {
    display: flex;
    text-align: left;
    width: 100%;
  }

  .hero-typography p {
    font-size: 25px;
    width: 100%;
  }

  .home-title {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 2rem;
    width: 100%;
  }

  .hero-button {
    margin: 2rem 0 1rem 0;
    padding: 15px;
  }

  .hero-image {
    position: absolute;
    z-index: -1;
  }

  .hero1 {
    display: none;
  }

  .hero2 {
    display: none;
    width: 150px;
    margin-top: 10rem;
    margin-left: 13rem;
  }

  .hero-shape {
    opacity: 0;
    background-color: #fff;
  }

  .brand-container {
    padding: 5rem 2rem 5rem 2rem;
  }

  .brand-card-container {
    flex-direction: column;
  }

  .brand-typography {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 4rem;
    text-align: center;
  }

  .brand-typography h3 {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
  }

  .brand-desc {
    text-align: left;
  }

  .brand-content {
    height: auto;
  }

  .card {
    height: auto !important;
  }

  .certification-logo-container {
    flex-direction: column;
    grid-gap: 45px;
  }

  .certification-logo-cism {
    width: 75px;
  }
  .certification-logo-itil {
    width: 125px;
  }
  .certification-logo-pmp {
    width: 75px;
  }
  .certification-logo-webflow {
    width: 125px;
  }
  .certification-logo-gseasondocs {
    width: 125px;
  }

  .certification-container {
    padding: 5rem 0 3rem 0;
  }

  .card {
    width: 300px;
    height: 800px;
  }

  .certification-container h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  .brand-button {
    margin-top: 6.5rem;
  }

  .brand-card-container h5 {
    font-size: 22px;
  }

  .benefit-card-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .benefit-typography {
    padding: 0 2rem 0 2rem;
  }

  .benefit-typography h3 {
    font-size: 30px;
    font-weight: 600;
  }

  .benefit-typography p {
    font-size: 20px;
  }

  .benefit-card {
    display: flex;
    width: 250px;
    height: 100%;
  }

  .benefit-card h4 {
    text-align: left;
    margin-left: 1rem;
    font-size: 13px;
    margin-bottom: 0;
  }

  .benefit-white-shape {
    width: 50px;
  }

  .webflow-container {
    height: 100%;
    padding: 5rem 2rem 5rem 2rem;
  }

  .developing-typography {
    text-align: left;
    margin-top: 5rem;
    width: 100%;
    padding-bottom: 3rem;
  }

  .developing-typography h3 {
    font-size: 30px;
    font-weight: 600;
  }

  .developing-container {
    text-align: center;
    padding: 2rem 2rem 5rem 2rem;
  }

  .developing-card-container {
    flex-direction: column;
  }

  .developing-card {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
  }

  .developing-card p {
    font-size: 14px;
  }

  .developing-divider {
    margin-top: 3rem;
  }

  .developing-gif {
    margin: 0 0 2rem 0;
  }

  .collab-text {
    position: relative;
    z-index: 999 !important;
    font-size: 1.2rem;
    margin: 3rem 0 5rem 0;
  }

  .collab-text h3 {
    font-family: "Monument Extended", sans-serif;
    position: relative;
    z-index: 999 !important;
    font-weight: 600;
    font-size: 21px;
  }

  .collab-text p {
    position: relative;
    z-index: 999 !important;
    font-size: 14px;
  }

  .collab-container {
    text-align: center;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
  }

  .collab-image {
    display: none;
  }

  .collab-image-mobile {
    display: block;
    margin-top: 15rem;
    z-index: 1;
  }

  .logos-mobile {
    display: block;
    z-index: 5;
  }

  .work-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials-container {
    padding: 2rem;
  }

  .testimonials-text-container h3 {
    text-align: center;
  }

  .card-slider {
    width: 300px;
  }

  .work-text {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .work-text h3 {
    font-size: 30px;
    font-weight: 600;
  }

  .work-container {
    padding: 5rem 2rem 5rem 2rem;
  }

  .work-top {
    left: 35%;
    margin-top: -3rem;
  }

  .work-left {
    margin-top: 20rem;
  }

  .work-right {
    margin-top: 50rem;
  }

  .work-card-container {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2rem;
  }

  .pricing-text {
    text-align: left;
    padding-bottom: 3rem;
  }

  .pricing-text h3 {
    font-size: 30px;
    font-weight: 600;
  }

  .pricing-text p {
    font-size: 20px;
  }

  .pricing-card {
    width: 300px;
    margin-bottom: 2rem;
  }

  .logos {
    display: none;
  }

  .most-popular {
    margin-top: -24rem;
    left: 60%;
  }

  .pricing-container {
    padding: 5rem 2rem 2rem 2rem;
  }

  .pricing-card-container {
    flex-direction: column;
    grid-gap: 20px;
  }

  .referral-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    padding: 2rem;
  }

  .referral-container img {
    width: 100px;
  }

  .referral-text {
    padding: 0;
    text-align: center;
  }

  .referral-text h4 {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 30px;
  }

  .referral-text p {
    font-size: 25px;
  }

  .faq-container {
    padding: 5rem 2rem 5rem 2rem;
  }

  .faq-left {
    margin-top: 5rem;
    width: 100px;
  }

  .faq-right {
    margin-right: 2rem;
    margin-top: 19rem;
  }

  .faq-container h3 {
    font-size: 40px;
    font-weight: 600;
  }

  .faq-title-container {
    margin-bottom: 3rem;
  }

  .faq-title-container h3 {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    width: 90%;
  }

  .faq-title-container img {
    width: 150px;
    margin-top: 4rem;
    left: 50%;
  }

  .css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    opacity: 0;
  }

  .footer-lets {
    margin-top: -1rem;
    margin-left: 1rem;
    width: 25px;
    transform: rotate(95deg);
  }

  .footer-wrapper {
    padding: 0 0 2rem 0;
  }

  .footer-text {
    padding: 0 2rem 4rem 2rem;
  }

  .footer-text h3 {
    font-size: 40px;
  }

  .footer-text p {
    font-size: 14px;
    margin: 2rem 0 2rem 0;
  }

  .footer-shape {
    margin-bottom: -15rem;
  }

  .footer-info-container {
    width: 300px;
    align-items: flex-start;
  }

  .workhero-typography h3 {
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    margin-top: 2rem;
  }

  .workhero-typography p {
    font-size: 25px;
    width: 100%;
  }

  .workhero-container {
    flex-direction: column-reverse;
    padding: 2rem;
  }

  .workcase-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .workcase-card {
    height: auto;
    width: 300px;
  }

  .hero-img {
    display: none;
  }

  .heroimg-mobile {
    display: block;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .trusted {
    width: 350px;
    font-size: 13px;
  }

  .footer-scribble {
    margin-left: -7rem;
  }

  .footer-yellowstar2 {
    margin-left: 17rem;
    margin-top: 5rem;
  }

  .collaborate {
    justify-content: center;
    margin-bottom: 5rem;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-top {
    margin-bottom: 1rem;
    display: block;
  }

  .footer-info-container {
    width: auto;
    grid-gap: 20px;
  }

  .footer-flag {
    margin-left: 0;
  }

  .state img {
    width: 20px;
  }

  .footer-info p {
    font-size: 10px;
  }

  .slider-mobile-1 {
    display: block;
  }

  .slider-mobile-2 {
    display: block;
  }

  .hero-typography {
    text-align: center;
  }

  .hero-typography p {
    text-align: left;
  }

  .webflow-container h3 {
    font-size: 25px;
  }

  .webflow-dots {
    display: none;
  }

  .webflow-dots-mobile {
    width: 250px;
    display: block;
    z-index: 0;
  }

  .aos-init {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .floating-nav a {
    font-size: 9px;
  }

  .floating-nav__link {
    padding: 0.5rem;
  }

  .floating-nav__link.arrow {
    padding: 0 20px 0 20px;
  }

  .lets {
    font-size: 30px;
  }

  .collaborate {
    font-size: 30px;
  }

  .footer-shape {
    width: 350px;
  }

  .faq-container h3 {
    font-size: 30px;
  }

  .yourgoto {
    font-size: 35px;
  }

  .documentation {
    font-size: 35px;
  }

  .partner {
    font-size: 35px;
  }

  .work-spin-img-1 {
    display: none;
  }

  .work-spin-img-2 {
    display: none;
  }

  .work-spin-img-3 {
    margin-top: 140rem;
    left: -4rem;
  }
}
