@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Extended";
  src: url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot");
  src: url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.svg#Monument Extended")
      format("svg");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

body p {
  font-family: "Poppins", sans-serif;
}

body h2 {
  font-family: "Poppins", sans-serif;
}

body h3 {
  font-family: "Poppins", sans-serif;
}

/* Navbar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 2rem 5rem 2rem 5rem;
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
    background-color: #fff;
    color: #000;
    z-index: 99;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

.nav-logo {
  width: 100px;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: 0.5s ease-in-out;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.home-title {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 2rem;
}

.heroimg-mobile {
  display: none;
}

.hero-img {
  display: block;
}

.yourgoto {
  display: flex;
  align-items: center;
}

.partner {
  display: flex;
  align-items: center;
}

.arrowhero {
  margin-left: 1rem;
  width: 50px;
}

.footer-arrowhero {
  margin-left: 1rem;
}

.yellowstar {
  width: 50px;
  margin-right: 1rem;
}

.footer-yellowstar {
  margin-right: 1rem;
}

.collaborate {
  display: flex;
  align-items: center;
}

.footer-scribble {
  position: absolute;
  margin-top: 6rem;
  margin-left: 5rem;
}

.footer-yellowstar2 {
  position: absolute;
  margin-left: 25rem;
  margin-top: 7rem;
}

.scribble {
  width: 100px;
  position: absolute;
  margin-top: 6rem;
  margin-left: 12rem;
}

.lets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-typography {
  display: flex;
  flex-direction: column;
}

.hero-typography p {
  font-size: 20px;
  margin-top: 1rem;
  width: 70%;
}

.hero-button {
  width: 200px;
  background-color: #f39f21;
  border-radius: 25px;
  padding: 10px;
  color: #fff;
  margin: 3rem 0 3rem 0;
  text-transform: uppercase;
}

.hero-image {
  display: flex;
  align-items: center;
}

.hero1 {
  width: 30vh;
  margin-left: -5vw;
  position: absolute;
  z-index: 2;
}
.hero2 {
  width: 25vh;
  margin-left: 3vw;
  position: absolute;
  z-index: 1;
}

.hero-shape {
  width: 30vw;
  height: 600px;
  background-color: #f39f21;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marquee-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trusted {
  background-color: #d4dae7;
  text-align: center;
  width: 500px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* slider */

.slider {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider::before,
.slider::after {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 25%;
  z-index: 2;
  pointer-events: none;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
  background-color: #000;
  width: calc(150px * 20);
  display: flex;
  animation: scroll 40s linear infinite;
  justify-content: space-between;
}

.slide-track2 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 100px;
  margin: 1rem;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.slide:hover {
  transform: scale(0.8);
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 20);
  }

  .slide-track2 {
    width: calc(80px * 15);
  }

  .slide {
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

/* slider mobile 1 */

.slider-mobile-1 {
  position: relative;
  width: 100%;
  display: none;
  place-items: center;
  overflow: hidden;
}
.slider-mobile-1::before,
.slider-mobile-1::after {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 25%;
  z-index: 2;
  pointer-events: none;
}
.slider-mobile-1::before {
  left: 0;
  top: 0;
}
.slider-mobile-1::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/* IMPORTANT CODE BELOW */

.slide-track-mobile-1 {
  background-color: #000;
  width: calc(150px * 20);
  display: flex;
  animation: scroll-track-mobile-1 40s linear infinite;
  justify-content: space-between;
}

.slide-track2-mobile-1 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2-track-mobile-1 15s linear infinite;
  justify-content: space-between;
}

.slide-mobile-1 {
  width: 100px;
  margin: 1rem;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.slide-mobile-1:hover {
  transform: scale(0.8);
}

@keyframes scroll-track-mobile-1 {
  0% {
    transform: translateX(calc(-150px * 10));
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes scroll2-track-mobile-1 {
  0% {
    transform: translateX(calc(-150px * 5));
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 768px) {
  .slide-track-mobile-1 {
    width: calc(80px * 20);
  }

  .slide-track2-mobile-1 {
    width: calc(80px * 15);
  }

  .slide-mobile-1 {
    width: 80px;
  }

  @keyframes scroll-track-mobile-1 {
    0% {
      transform: translateX(calc(-80px * 10));
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes scroll2-track-mobile-1 {
    0% {
      transform: translateX(calc(-80px * 5));
    }
    100% {
      transform: translateX(0px);
    }
  }
}

/* slider mobile 2 */

.slider-mobile-2 {
  position: relative;
  width: 100%;
  display: none;
  place-items: center;
  overflow: hidden;
}
.slider-mobile-2::before,
.slider-mobile-2::after {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 25%;
  z-index: 2;
  pointer-events: none;
}
.slider-mobile-2::before {
  left: 0;
  top: 0;
}
.slider-mobile-2::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track-mobile-2 {
  background-color: #000;
  width: calc(150px * 20);
  display: flex;
  animation: scroll 40s linear infinite;
  justify-content: space-between;
}

.slide-track2-mobile-2 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide-mobile-2 {
  width: 100px;
  margin: 1rem;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.slide-mobile-2:hover {
  transform: scale(0.8);
}

@keyframes scroll-mobile-2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

@keyframes scroll2-mobile-2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track-mobile-2 {
    width: calc(80px * 20);
  }

  .slide-track2-mobile-2 {
    width: calc(80px * 15);
  }

  .slide-mobile-2 {
    width: 80px;
  }

  @keyframes scroll-mobile-2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2-mobile-2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

.about-title {
  font-family: "Monument Extended", sans-serif;
  position: absolute;
  transform: rotate(90deg);
  left: -7rem;
  font-size: 5rem;
  text-transform: uppercase;
  color: #f3f5f9;
}

.about-container {
  display: flex;
  align-items: center;
  padding: 10rem;
}

.about-container p {
  text-align: justify;
}

.about-container h3 {
  font-size: 3rem;
  font-weight: 700;
}

.about-container h4 {
  color: #f39f21;
  font-weight: 700;
}

.about-container p {
  padding-top: 4rem;
}

.shape {
  border-radius: 20px;
  width: 500px;
  margin-right: 5rem;
}

.divider-container {
  display: flex;
  justify-content: center;
}

.divider {
  width: 80%;
  height: 2px;
  background-color: #d2d2d2;
  border-radius: 2px;
}

.developing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 5rem 5rem 5rem;
}

.developing-container h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.developing-desc {
  font-size: 25px;
}

.developing-typography {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 80%;
  padding: 0 0 5rem 0;
}

.developing-card-container {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
}

.developing-card {
  display: flex;
  align-items: center;
  width: 400px;
  background-color: #f3f5f9;
  border-radius: 20px;
  padding: 25px;
}

.developing-gif {
  background-color: #fff;
  margin-right: 2rem;
  border-radius: 10px;
  width: 75px;
}

.developing-image-bg {
  position: absolute;
  z-index: 0;
}

.developing-divider {
  margin-top: 10rem;
  width: 80%;
  height: 2px;
  background-color: #d2d2d2;
  border-radius: 2px;
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem 10rem 10rem;
}

.brand-container h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.brand-typography {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 80%;
  padding: 0 0 5rem 0;
}

.brand-desc {
  font-size: 25px;
}

.brand-card-container {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
}

.card {
  width: 350px;
  background-color: #f3f5f9;
  border-radius: 20px;
  padding: 25px;
}

.brand-card-container h5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 100px;
}

.brand-card-list {
  display: flex;
  align-items: flex-start;
  grid-gap: 10px;
  padding: 15px 0 0 0;
}

.brand-card-list img {
  height: 23px;
  width: 23px;
}

.check-icon {
  width: 20px;
}

.brand-content {
  height: 300px;
}

.brand-button {
  background-color: #f39f21;
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  color: #fff;
  margin-top: 2rem;
  text-transform: uppercase;
}

.card-title {
  display: flex;
  justify-content: center;
  background-color: #e1e6f1;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.brand-image {
  display: flex;
  align-items: center;
  width: 75px;
  height: 100px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.brand-image-bg {
  position: absolute;
  z-index: 0;
}

.certification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5f9;
  padding: 5rem 0 5rem 0;
}

.certification-container h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.certification-logo-container {
  align-items: center;
  display: flex;
  grid-gap: 100px;
}

.certification-logo-cism {
  width: 100px;
}

.certification-logo-itil {
  width: 160px;
}

.certification-logo-pmp {
  width: 100px;
}

.certification-logo-webflow {
  width: 200px;
}

.certification-logo-gseasondocs {
  width: 200px;
}

.webflow-container {
  background-color: #000;
  color: #fff;
  padding: 5rem;
  height: 400px;
  display: flex;
}

.webflow-container h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.webflow-bg {
  background-image: url("../public/assets/images/icons/webflowbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webflow-dots {
  position: absolute;
}

.benefit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.benefit-typography {
  text-align: center;
  margin-bottom: 4rem;
}

.benefit-typography h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.benefit-typography p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
}

.benefit-shape {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: -10rem;
  z-index: 0;
}

.benefit-button {
  background-color: #f39f21;
  border-radius: 25px;
  width: 125px;
  padding: 10px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.benefit-card-container {
  padding: 5rem;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 700;
  justify-content: space-around;
  width: 250px;
  height: 250px;
  padding: 1.5rem;
  background-color: #f3f5f9;
  border-radius: 10px;
}

.benefit-card h4 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.benefit-img {
  display: flex;
  justify-content: flex-end;
}

.benefit-white-shape {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
}

.service-text {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 10rem;
  text-align: center;
}

.service-title {
  font-family: "Monument Extended", sans-serif;
  position: absolute;
  transform: rotate(-90deg);
  right: -7rem;
  font-size: 5rem;
  text-transform: uppercase;
  color: #f3f5f9;
}

.service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.service-container h3 {
  font-size: 3rem;
  font-weight: 700;
}

.service-card-container {
  display: flex;
  grid-gap: 5rem;
}

.service-card {
  border-radius: 20px;
  padding: 2rem;
  width: 300px;
  height: 500px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.service-card:hover {
  background-color: #f3f5f9;
  box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -1px 1px 12px 3px rgba(0, 0, 0, 0.14);
}

.service-card h3 {
  padding: 2rem 0 1rem 0;
  font-size: 2rem;
}

.card-image-technical {
  padding: 1rem;
  background-color: #f39f21;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.card-image-webdev {
  padding: 1rem;
  background-color: #3e69ea;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.card-image-graphic {
  padding: 1rem;
  background-color: #b82a2e;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.passion-container {
  padding: 5rem 0 5rem 0;
  background-color: #f3f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passion-container h3 {
  font-size: 3rem;
  font-weight: 700;
}

.passion-wrapper {
  padding: 0 5rem 0 5rem;
  grid-gap: 20px;
  display: flex;
  padding-top: 5rem;
}

.passion-card {
  padding: 1rem;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.passion-card p {
  padding-top: 2rem;
}

.passion-image-medal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f39f21;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.passion-image-write {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #b82a2e;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.passion-image-target {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #3e69ea;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.passion-image-trusted {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #b82a2e;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.testimonials-container {
  padding: 10rem 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials-quote img {
  max-width: 300px;
}

.testimonials-text-container {
  display: flex;
  flex-direction: column;
}

.testimonials-text-container h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 2rem 0;
}

.testimonials-slider {
  padding: 5rem 0 5rem 0;
}

.card-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #f3f5f9;
  padding: 3rem;
}

.card-slider img {
  width: 75px;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  padding: 2rem 0 0 0;
}

.profile-text {
  padding: 0 0 0 2rem;
}

.work-container {
  background-color: #f3f5f9;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-container h3 {
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
}

.work-container p {
  z-index: 1;
}

.work-image-bg {
  position: absolute;
  z-index: 0;
}

.work-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10rem;
}

.work-card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-bottom: 5rem;
}

.work-card-container img {
  width: 500px;
}

.work-button {
  background-color: #f39f21;
  border-radius: 25px;
  width: 125px;
  padding: 10px;
  color: #fff;
}

.collab-container {
  padding: 0 5rem 0 5rem;
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.collab-text {
  z-index: 2;
}

.collab-container h3 {
  font-size: 3rem;
  font-weight: 700;
}

.collab-container p {
  padding-top: 2rem;
}

.collab-container span {
  color: #f39f21;
}

.collab-image {
  position: absolute;
  width: 300px;
  margin-right: 30rem;
  z-index: 0;
}

.logos {
  width: 700px;
  margin-left: 10rem;
  z-index: 0;
}

.pricing-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-text {
  text-align: center;
  padding-bottom: 5rem;
}

.pricing-text h3 {
  font-size: 3rem;
  font-weight: 700;
}

.pricing-text p {
  font-size: 1.2rem;
}

.pricing-card-container {
  display: flex;
  grid-gap: 2rem;
}

.pricing-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

.pricing-card:hover {
  opacity: 1;
}

.card-bg {
  background-color: #d2d2d2;
  border-radius: 0 0 20px 20px;
  padding: 2rem 1rem 2rem 1rem;
}

.monthly {
  color: #000;
  background-color: #e8edf5;
}

.quarterly {
  color: #000;
  background-color: #f39f21;
}

.yearly {
  color: #fff;
  background-color: #282828;
}

.pricing-title-monthly {
  display: flex;
  justify-content: center;
  background-color: #e8edf5;
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.pricing-title-quarterly {
  display: flex;
  justify-content: center;
  background-color: #f39f21;
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.pricing-title-yearly {
  display: flex;
  justify-content: center;
  background-color: #282828;
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.price-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-wrap h5 {
  text-decoration: underline;
  font-weight: 600;
}

.price-wrap h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.pricing-shape-monthly {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  background-color: #adadad;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.pricing-shape-quarterly {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  opacity: 0.5;
  background-color: #e8edf5;
  margin-bottom: 2rem;
}

.pricing-shape-yearly {
  width: 50px;
  height: 5px;
  border-radius: 10px;
  opacity: 0.5;
  background-color: #e8edf5;
  margin-bottom: 2rem;
}

.pricing-price {
  padding: 0 0 2rem 0;
}

.pricing-price h3 {
  font-size: 30px;
  font-weight: 700;
}

.pricing-price p {
  color: #878787;
}

.pricing-button-monthly {
  background-color: #fff;
  border-radius: 25px;
  width: 250px;
  padding: 10px;
  color: #000;
  margin-bottom: 1rem;
}

.pricing-button-quarterly {
  background-color: #000;
  border-radius: 25px;
  width: 250px;
  padding: 10px;
  color: #fff;
  margin-bottom: 1rem;
}

.pricing-button-yearly {
  background-color: #fff;
  border-radius: 25px;
  width: 250px;
  padding: 10px;
  color: #000;
  margin-bottom: 1rem;
}

.pricing-divider {
  width: 90%;
  height: 2px;
  border-radius: 10px;
  background-color: #d2d2d2;
  margin: 2rem;
}

.pricing-feature {
  text-align: left;
}

/* ul {
  list-style-type: circle;
} */

.most-popular {
  position: absolute;
  left: 26%;
  margin-top: 28rem;
  transform: rotate(15deg);
  width: 125px;
}

.referral-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem 2rem 5rem;
  background-color: #f39f21;
  grid-gap: 2rem;
}

.referral-container img {
  width: 150px;
}

.referral-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 2rem 25rem 2rem 2rem;
}

.referral-text h4 {
  font-weight: 600;
  font-size: 35px;
}

.referral-button {
  background-color: #fff;
  border-radius: 25px;
  width: 125px;
  padding: 10px;
  color: #000000;
}

.faq-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.faq-title-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 5rem;
}

.faq-title-container h3 {
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
}

.faq-title-container p {
  margin-left: 15rem;
}

.faq-title-container img {
  width: 200px;
  left: 33%;
  margin-top: 6rem;
  position: absolute;
  z-index: 0;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  background-color: #f3f5f9;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: none;
}

.workhero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}

.workhero-typography h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 70px;
  width: 70%;
  margin-bottom: 2rem;
}

.workhero-typography p {
  font-size: 20px;
  margin-top: 1rem;
  width: 70%;
  margin-bottom: 2rem;
}

.workcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5f9;
  padding: 5rem;
}

.workcase-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.workcase-card {
  width: 350px;
  height: 450px;
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 2rem;
}

.pagination {
  display: flex;
  margin-top: 5rem;
  grid-gap: 50px;
}

.text-arrow {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-container {
  background-color: #000;
  color: #fff;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-shape {
  margin-top: 10rem;
  margin-bottom: -19rem;
  position: relative;
  width: 800px;
  z-index: 0;
}

.footer-text {
  padding: 2rem;
  z-index: 1;
}

.footer-text h3 {
  margin: 5rem 0 0 0;
  font-size: 4rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.footer-text p {
  margin: 2rem 0 4rem 0;
}

.footer-button {
  background-color: #f39f21;
  border-radius: 25px;
  width: 150px;
  padding: 10px;
  color: #fff;
}

.footer-divider {
  width: 80%;
  height: 2px;
  border-radius: 2px;
  background-color: #272727;
  margin: 5rem 0 5rem 0;
}

.footer-info-container {
  display: flex;
  grid-gap: 50px;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.footer-info {
  text-align: left;
}

.footer-flag {
  margin-bottom: 1rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 20px;
}

.footer-divider-vertical {
  background-color: #fff;
  width: 2px;
  border-radius: 2px;
  height: 75px;
}

.state {
  display: flex;
}

.state p {
  margin-left: 1rem;
}

.state img {
  width: 30px;
}

.footer-info h4 {
  font-weight: 700;
}

.footer-copyright {
  display: flex;
  background-color: #f39f21;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

.footer-logo {
  width: 75px;
  height: 40px;
}

.footer-logo-top {
  display: none;
  width: 75px;
  height: 40px;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  opacity: 0;
}

.limited-spot {
  margin-top: 2rem;
}

@media only screen and (max-width: 1200px) {
  header {
    padding: 2rem;
  }

  .nav {
    padding: 1rem 2rem 1rem 2rem;
  }

  .nav-menu:hover {
    background-color: #f39f21;
  }

  .home-container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .hero-typography {
    display: flex;
    text-align: left;
    width: 100%;
  }

  .hero-typography p {
    font-size: 25px;
    width: 100%;
  }

  .home-title {
    font-size: 40px;
    line-height: 55px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .hero-button {
    margin: 2rem 0 1rem 0;
  }

  .hero-image {
    position: absolute;
    z-index: -1;
  }

  .hero1 {
    display: none;
  }

  .hero2 {
    display: none;
    width: 150px;
    margin-top: 10rem;
    margin-left: 13rem;
  }

  .hero-shape {
    opacity: 0;
    background-color: #fff;
  }

  .brand-container {
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .brand-card-container {
    flex-direction: column;
  }

  .brand-typography {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
  }

  .brand-typography p {
  }

  .brand-typography h3 {
    font-size: 40px;
    font-weight: 500;
  }

  .brand-content {
    height: auto;
  }

  .card {
    height: auto !important;
  }

  .certification-logo-container {
    flex-direction: column;
    grid-gap: 45px;
  }

  .certification-logo-cism {
    width: 75px;
  }
  .certification-logo-itil {
    width: 125px;
  }
  .certification-logo-pmp {
    width: 75px;
  }
  .certification-logo-webflow {
    width: 125px;
  }
  .certification-logo-gseasondocs {
    width: 125px;
  }

  .certification-container {
    padding: 5rem 0 10rem 0;
  }

  .certification-container h3 {
    margin-bottom: 5rem;
  }

  .card {
    width: 300px;
    height: 800px;
  }

  .certification-container h3 {
    font-size: 2rem;
  }

  .brand-button {
    margin-top: 6.5rem;
  }

  .brand-card-container h5 {
    font-size: 22px;
  }

  .benefit-card-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .benefit-typography {
    padding: 0 2rem 0 2rem;
  }

  .benefit-typography h3 {
    font-size: 40px;
    font-weight: 500;
  }

  .benefit-typography p {
    font-size: 25px;
  }

  .benefit-card {
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    height: 100%;
    justify-content: flex-end;
  }

  .benefit-card h4 {
    text-align: left;
    margin-left: 1rem;
    font-size: 13px;
    margin-bottom: 0;
  }

  .benefit-white-shape {
    width: 50px;
  }

  .webflow-container {
    height: 100%;
    padding: 5rem 2rem 5rem 2rem;
  }

  .developing-typography {
    margin-top: 5rem;
    width: 100%;
  }

  .developing-typography h3 {
    font-size: 40px;
    font-weight: 500;
  }

  .developing-container {
    text-align: center;
    padding: 2rem;
  }

  .developing-card-container {
    flex-direction: column;
  }

  .developing-card {
    text-align: center;
    flex-direction: column;
    width: 300px;
  }

  .developing-gif {
    margin: 0 0 2rem 0;
  }

  .collab-image {
    margin: 0;
    width: 50%;
    z-index: 1;
  }

  .collab-text {
    font-size: 1.2rem;
    margin: 5rem 0 5rem 0;
  }

  .collab-text h3 {
    font-weight: 500;
    font-size: 40px;
  }

  .collab-text p {
    font-size: 25px;
  }

  .collab-container {
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .work-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials-container {
    padding: 2rem;
  }

  .testimonials-text-container h3 {
    text-align: center;
  }

  .card-slider {
    width: 300px;
  }

  .work-text {
    padding-bottom: 5rem;
  }

  .work-text h3 {
    font-size: 40px;
    font-weight: 500;
  }

  .work-container {
    padding: 2rem;
  }

  .work-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing-text h3 {
    font-size: 40px;
    font-weight: 500;
  }

  .pricing-text p {
    font-size: 25px;
  }

  .pricing-card {
    width: 300px;
    margin-bottom: 2rem;
  }

  .logos {
    display: none;
  }

  .most-popular {
    margin-top: 25rem;
    left: 55%;
  }

  .pricing-container {
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .pricing-card-container {
    flex-direction: column;
    grid-gap: 20px;
  }

  .referral-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    padding: 2rem;
  }

  .referral-text {
    padding: 0;
    text-align: center;
  }

  .referral-text h4 {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 40px;
  }

  .referral-text p {
    font-size: 25px;
  }

  .faq-container {
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .faq-container h3 {
    font-size: 40px;
    font-weight: 500;
  }

  .faq-title-container h3 {
    width: 100%;
  }

  .css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    opacity: 0;
  }

  .footer-text h3 {
    font-size: 40px;
  }

  .footer-text p {
    font-size: 25px;
  }

  .footer-shape {
    margin-bottom: -12rem;
  }

  .footer-info-container {
    width: 300px;
    align-items: flex-start;
  }

  .workhero-typography h3 {
    font-size: 40px;
    font-weight: 500;
    width: 100%;
    margin-top: 2rem;
  }

  .workhero-typography p {
    font-size: 25px;
    width: 100%;
  }

  .workhero-container {
    flex-direction: column-reverse;
    padding: 2rem;
  }

  .workcase-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .workcase-card {
    height: auto;
    width: 300px;
  }

  .hero-img {
    display: none;
  }

  .heroimg-mobile {
    display: block;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .trusted {
    width: 300px;
    font-size: 10px;
  }

  .footer-scribble {
    margin-left: -7rem;
  }

  .footer-yellowstar2 {
    margin-left: 17rem;
    margin-top: 5rem;
  }

  .collaborate {
    justify-content: center;
    margin-bottom: 5rem;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-top {
    margin-bottom: 1rem;
    display: block;
  }

  .footer-info-container {
    width: auto;
    grid-gap: 20px;
  }

  .footer-flag {
    margin-left: 0;
  }

  .state img {
    width: 20px;
  }

  .footer-info p {
    font-size: 15px;
  }

  .slider-mobile-1 {
    display: block;
  }

  .slider-mobile-2 {
    display: block;
  }

  .hero-typography {
    text-align: center;
  }
}
